*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    padding: 4rem;
    background: lightgray;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
    align-items: center;
}

ul li:last-child{
background: blue;
color: white;
padding: .8rem;
border-radius: 3px;
}